body {
    font-family: 'Poppins', sans-serif;
    margin: 0px;
}

h1 {
    font-size: 50px;
}


.first-part {
    color: whitesmoke;
    width: 50%;
    text-align: centre;
    margin-left: 20%;
    padding-left: 5%;
    padding-right: 35%;
    margin-top: 5%;


}

section {
    display: flex;
}

.donate-button {

    text-decoration: none;
    background-color: rgb(208, 57, 57);
    padding: 15px 40px;
    border-radius: 8px;
    font-weight: 700;
}

.background-image {
    background-image: url(images/donation9.jpg);
    background-repeat: no-repeat;
    margin-top: 10%;
    padding: 100px 200px;
    padding-left: 5%;
    padding-right: 10%;
    background-position: 30px 10px;

}

.second-part {
    color: black;
    width: 50%;
    text-align: center;
    margin-left: 10%;
}

.under-line {
    text-decoration: underline;
}

button {
    text-decoration: none;
    background-color: rgb(250, 224, 195);
    padding: 40px 60px;

}

.donate-now {
    text-decoration: none;
    background-color: rgb(207, 50, 50);
    border-radius: 10px;
    padding: 25px 50px;
}

.third-part {
    color: black;
    width: 50%;
    text-align: center;
    margin-left: 10%;
}

.donate-plan {
    margin-top: 50px;
}